{% extends 'layout.html.twig' %}




{% block body %}

    <ul>
        <li>
            <a href="{{ path('utilisation_index') }}">Gestion des types d'utilisations</a>
        </li>
        <li>
            <a href="{{ path('support_index') }}">Gestion des types de supports</a>
        </li>
        <li>
            <a href="{{ path('diffusion_index') }}">Gestion des types de diffusions</a>
        </li>
    </ul>



{% endblock body %}