{% extends 'layout.html.twig' %}

{% block body %}


    <table style="text-align: center; width: 100%">
        <tr>
            <td width="167"><img class="imgflat" src="{{ asset('images/vince.gif')}}" alt="Heu..." height="150"><h3 style="color: #000000">Oups... vous n'êtes pas au bon endroit !</h3></td>

        </tr>



    </table>



{% endblock %}