body {
    font-family: 'Nunito', sans-serif;
}

.nolarge{
    max-width : 500px;
    margin: auto;

}

.large{

    margin: auto;
}

header {
    background-color: #6897BB;
    color : white;
    text-align: center;
}


.login_form {
    max-width: 400px;
    margin: auto;
}

.login_label {
    display : inline-block;
    width: 40%;
    margin: auto;
}

.login_input {
    display : inline-block;
    width: 50%;
    margin: auto;
}

.login_remember {
    text-align: center;
}


.login_submit {
    text-align: center;
}


.btn-delete{
    color: darkred;
   }


.btn-modifier{
    color: #337AB7;
}