

body {
    font-family: 'Nunito', sans-serif;
}


a:hover{
    text-decoration: none;
    color : darkgrey;
}

.nolarge{
    max-width : 500px;
    margin: auto;
}

.midsize{
    max-width : 1200px;
    margin: auto;
}


.large{
    margin-left: 20px;
    margin-right: 20px;
}

header {
    background-color: lightgrey;
    color : black;

}

header a{
     color : black;
     text-decoration: none;
}

header a:hover{
    text-decoration: none;
    color : darkgrey;
}

main a:hover{
    text-decoration: none;
    color : darkgrey;
}


main{
    min-height: 725px;
}

footer {
    background-color: lightgrey;
    color : black;
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: x-small;
    width:100%;
}

footer a{
    color : black;
    text-decoration: none;
}

footer a:hover{
    color : darkgrey;
    text-decoration: none;
}

footer span{
    color : white;
}

.login_form {
    max-width: 400px;
    margin: auto;
}

.login_label {
    display : inline-block;
    width: 40%;
    margin: auto;
}

.login_input {
    display : inline-block;
    width: 50%;
    margin: auto;
    padding : 3px;
    border-radius: 5px;
    border: 1px solid darkgrey;
    background-color: white;

}

.login_remember {
    text-align: center;
    font-size: small;
}


.login_submit {
    text-align: center;
}


.btn-delete{
    color: darkred;
   }


.btn-modifier{
    color: #337AB7;
}

.imgflat{
    -webkit-filter: drop-shadow(5px 5px 5px grey);
    filter:         drop-shadow(5px 5px 5px grey);
    margin : 10px;
}

.btn-iconflat{
    border: 0px;
    background-color: transparent;

}

