@media screen and (min-width: 421px) {
    .menu select {
        display: none;
    }
}

html{
    height: 100%;
}

body {
    font-family: 'News Cycle', sans-serif;
    height:100%;
    margin: 0;
    background: url(/studio_m/web/images/fond2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p, span , h1 , h2 , h3 , h4 , h5 , h6 {
    font-family: 'News Cycle', sans-serif;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}


a {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color : darkgrey;
}

div{
    font-family: 'News Cycle', sans-serif;
}

.ib{
    display: inline-block;
}

.txt-center{
    text-align: center;
}

.txt-right{
    text-align: right;
}

.vertical-center{
    height: 5em; /* hauteur du parent */
    line-height: 10em; /* hauteur de ligne (identique) */
    white-space: nowrap; /* interdiction de passer à la ligne */
}


.largeur-totale {
    width: 100%;
}


.largeur-half{
    width: 49%;
}

.fix{
    position: fixed;
    top: 80px;
    left: 20px;
}

.round{
    width: 13em;
    height: 13em;
    border-radius: 50%;
    background-color: #DDDDDD;
    -webkit-filter: drop-shadow(5px 5px 5px grey);
    filter:         drop-shadow(5px 5px 5px grey);
    margin : 10px;
    text-align: center;

    }

/*-------------------------------FONTS---------------------------------------*/


.hand{
    font-family: 'Gloria Hallelujah', cursive;
}

.fine{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.normale{
    font-family: 'News Cycle', sans-serif;
}

.petite{
    font-size: 0.6em;
}
/*-------------------------------HEADER---------------------------------------*/

.headerlogo{
    text-align: center;
    padding-top: 1.5%;
    width: 100%;
    height: 100%;
}

.headerlogo img{
    height: 70%;
}

.header{
    background-color: #3d3e40;
    opacity:0.8;
    width: 100%;
    height: 100%;
}

.menuleft{
    width: 33%;
    text-align: left;
    display: inline-block;
    margin-left: 1%;
}

.menucenter{
    width: 32%;
    text-align: center;
    display: inline-block;
}

.menuright{
    width: 29%;
    text-align: right;
    display: inline-block;
}

.menuright div{
    margin-right:40px;
    display: inline-block;
}

.deconnexion {
    font-size: 0.8em;

}



/*-------------------------------MAIN---------------------------------------*/


main{

    height: 100%;
    width : 81%;
    margin-left: 19%;

  }


main a:hover{
    text-decoration: none;
    color : darkgrey;
}




.midsize{
    width : 60%;

    margin-left:19%;
    display: inline-block;
    padding-left: 10px;
    background-color: white;
    height: 100%;
    opacity: 0.8;

}


.large{
    background-color: white;
    height: 100%;
    opacity: 0.9;
    display: inline-block;
}


aside{
    position: absolute;
    background-color: #3d3e40;
    color : #e4e8e9;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.1em;
    width :18%;
    height :100%;
}


aside a{
    color : #e4e8e9;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Yanone Kaffeesatz', sans-serif;


}


aside a:hover{
    text-decoration: none;
    color : darkgrey;
}


.mentions{
    position: absolute;
    bottom: 3%;
}


.menulogo{
    width: 100%;
}



.asideright {
    display: inline-block;
    padding-left: 20px;
    background-color: white;
    color: #34495e;
}


.asideleft {
    width: 100%;
    text-align: center;
margin-top: 15%;

    }



/*-------------------------------LOGIN FORM---------------------------------------*/

.connection{
    height:100%;
    width: 100%;
    text-align: -webkit-center;

}


.conn-middle {
    height:25%;
    width:50%;
    opacity: 0.8;
    -webkit-filter: drop-shadow(5px 5px 5px grey);
    filter:         drop-shadow(5px 5px 5px grey);
    padding-top: 3%;
    padding-bottom: 3%;

}



.login_form {
    max-width: 400px;
    margin-top: 25%;
}

.login_label {
    display : inline-block;
    width: 40%;
    margin: auto;
    text-align: center;
}

.login_input {
    display : inline-block;
    width: 50%;
    height :2.3em;
    margin: 7px;
    padding : 1%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid darkgrey;
    background-color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5em;


}

.login_remember {
    text-align: center;
    font-size: 1em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}


/*.login_submit {*/
    /*text-align: center;*/
    /*font-family: 'Yanone Kaffeesatz', sans-serif;*/
/*}*/

#login_submit {
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.1em;
    height: 3em;
    width: 6em;
    border-radius: 5px;
    border: solid 0px #b3b4b4;
    color: white;
    background-color: #38383a;
}

.login_submit {
   margin-top: 1em;
}




/*-------------------------------FOOTER---------------------------------------*/


footer {
    color : black;
    text-align: center;
    font-size: 0.8em;
    width:100%;
    height:6%;
    font-family: 'News Cycle', sans-serif;
    padding-top: 1%;
}


footer a{
    color : black;
    text-decoration: none;
}

footer a:hover{
    color : darkgrey;
    text-decoration: none;
}

footer span{
    color : white;
}

.btn-delete{
    color: darkred;
   }



/*-------------------------------IMAGES---------------------------------------*/




.btn-modifier{
    color: #337AB7;
}

.imgflat{
    -webkit-filter: drop-shadow(5px 5px 5px grey);
    filter:         drop-shadow(5px 5px 5px grey);
    margin : 10px;
}

.btn-iconflat{
    border: 0px;
    background-color: transparent;

}



/*-------------------------------TABLES---------------------------------------*/

table {
}


.tabhead{
    font-size: 16px;
    font-weight: bold;
}

.tabcells {
    font-size: 15px;
    background-color: #d3d3d3;

}

.tabimgsmall{
    font-size: 16px;
    font-weight: bold;
}



/*-------------------------------FORMS---------------------------------------*/



form .fromprojet{
    font-size: 16px;
    font-weight: bold;
}

label .checkbox{
    font-size: 13px;
    font-weight: bolder;
    color: #919191;

}

.control-label{
    font-size: 13px;
    font-weight: bolder;
    color: #919191;
}
.checkbox{
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 13px;
    }

.scriptcolor{
    color: #34495e;
}




/*-------------------------------PROJETS---------------------------------------*/

.newproject-small{
    font-size: 0.8em;
    color: grey;
}

.newproject-big{


}




/*-------------------------------SCRIPT ECRITURE---------------------------------------*/

.title-tab{
    width: 100%;
    font-weight: bold;
    color: #34495e;
    border-bottom: solid 1px #dddddd;
    margin-bottom: 10px;
    font-family: 'News Cycle', sans-serif;
}
.padding-ten{
    padding: 15px;
}


.title-txt-petit{
        font-size: 17px;
    text-align: center;
    font-family: 'News Cycle', sans-serif;
}

.script{
    color: #34495e;
}


.projet{
    color: #ff5419;
}

.grey{
    color: #919191;
}

.txtarea{
    width: 100%;
    margin-top: -30px;
}

.sub-txt-big{
    font-size: 1em;
    padding-right: 5px;
}

.sub-txt-small{
    font-size: 0.8em;
    padding-right: 5px;
}

.bord-droit{
    padding-right: 20px;
    margin-right: 20px ;
    border-right: solid 1px #dddddd;
}

.enregistrer{
    font-size: 1em;
    font-weight: bold;
   }
.btn-save-petit{
    margin-left: -15px;
}

.left-menu{
    margin-left: 30px;
}

.actuel{
    margin-left: 35px;
    padding-left: 10px;
    background-color: #DDDDDD;
    width: 80%;
}

.reponses{
    padding-bottom: 10px;
}

.script-footer{
   text-align: right;
    margin-bottom: -30px;
}

.icontop{
  margin-right: 40px;
}

.orientation{
    margin-bottom: -50px;
}