# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

parameters:
    database_host: cvaw.myd.infomaniak.com
    database_port: 3306
    database_name: cvaw_bump
    database_user: cvaw_marc
    database_password: Marc35400
    mailer_transport:
    mailer_host:
    mailer_user:
    mailer_password:
    secret: 3807c75c2fcb1d4cbd54d7e7024244a81dfe77db



