<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} - Atelier M {% endblock %}
    </title>
</head>
<body>

<header>


</header>

{% block content %}
{% endblock %}

</body>
</html>
