{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Nouvelle question</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Créer" />
    <a class="btn btn-default" href="{{ path('scriptquestion_index') }}">Retour</a>
    {{ form_end(form) }}


{% endblock %}
