{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Nouveau projet</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Create" />
    <a class="btn btn-default" href="{{ path('projet_index', { 'id': app.user.id })  }}">Retour</a>
    {{ form_end(form) }}




{% endblock %}
