{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Type de diffusion</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Enregistrer" />
    <a class="btn btn-default" href="{{ path('diffusion_index') }}">Retour</a>
    {{ form_end(edit_form) }}



{% endblock %}
