{% extends 'layout.html.twig' %}

{% block contentlarge %}







    <div style="width: 100%; text-align: center">

    <a href="{{ path('script_print', {'id':app.user.id, 'projet': projet.id, 'script' : script.id})  }}" target=_blank>
    <img class="imgflat" src="{{ asset('images/printer.png')}}" alt="Enregistrer" height="70"><h4 style="color: #ed7425">Imprimer</h4></a>

    </div>
    <br>
    <div style="width: 100%; text-align: center">

    <a href="#">
    <img class="imgflat" src="{{ asset('images/hand-shake.png')}}" alt="Enregistrer" height="70"><h4 style="color: #273b7a">Faire appel à un expert</h4></a>

    </div>
    <br>
    <div style="width: 100%; text-align: center">

    <a href="#">
    <img class="imgflat" src="{{ asset('images/trophy.png')}}" alt="Enregistrer" height="70"><h4 style="color: #c92f00">Valider le script</h4></a>

    </div>


{% endblock %}